<p id="notice"><%= notice %></p>
<div class="panel panel-default">
	<div class="panel-heading">
<h3> Nearby Breweries </h3>
</div>
   <% @breweries.each do |brewery| %>
<div class="panel-body">
<p>
 	<strong>Name:</strong>
 	<%= brewery.name %>
 </p>
<p>
	<strong>Address:</strong>
	<%= brewery.address %>
</p>
<p>
	<strong>Latitude:</strong>
	<%= brewery.latitude %>
</p>
<p>
	<strong>Longitude:</strong>
	<%= brewery.longitude %>
</p>
</div>
<hr size="3" color="black">

<% end %>

<div class="panel-footer">


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |

<%= link_to 'Back', breweries_path %>
</div>
</div>